.container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    height: 97vh;
}
.header{
    background-color: aquamarine;
    grid-row: 1/2;
    grid-column: 1/4;
}
.side-nav{
    background-color: bisque;
}
.content{
    background-color: azure;
}
.aside{
    background-color: bisque;
}
.footer{
    background-color: aquamarine;
    grid-row: 3/4;
    grid-column: 1/4;
}
.container >div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
}